@handf: #F2C329;
@whitey:#fafafa;

html {
    height:100%;
    background: @handf;
}

body, input {
    height:100%;
    font-family: 'Exo 2', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main {
    //height: 1000px;
    //width:100%;
    //overflow: auto;
}

/* Header */

header {
    padding: 10px 25px;
    background: @handf;
    border-bottom: 1px solid #333;
}

header h1 {
    font-size: 40px;
    font-family: 'Russo One', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header h1, h2, select {
    display: inline;
}

header #select-location-wrapper {
    padding-top: 7px;
    text-align: center;
}

header #enipedia-attribution {
    padding-top: 14px;
    text-align: center;
    font-size: 15px;
}

#select-location-input {
    height: 25px;
    width: 160px;
    font-size: 15px;
}

#select-location-submit {
    vertical-align: top;
    height: 35px;
}

/* End header */

footer {
    padding: 10px 0;
    background: @handf;
}

footer img {
    position: relative;
    top: 3px;
}

#ctc a {
    color: #fff;
    text-decoration: underline;
}

main li {
    margin-bottom: 15px;
}

/* Panel */

#panel {
    width: 250px;
    //height: 100%;
    float: left;
    //position: absolute;
    //top: 100px;
    background: @whitey;
    border-right: 1px solid #333;
}

#panel-container {
    float: left;
    padding: 10px;
}

#panel ul li img {
    height:20px;
    vertical-align: -3px;
    margin-right: 3px;
}

#panel .btn-inverse {
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
}

#close-panel-container {
    position: relative;
    top: 300px;
    left: 220px;
}

#close-panel {
    cursor: pointer;
    float: right;
    width:0;
    height:0;
    border-right:30px solid #333;
    border-top:30px solid transparent;
    border-bottom:30px solid transparent;
    position: absolute;
    //top: 50%;
    //left:230px;
}

#open-panel {
    display: none;
    cursor: pointer;
    width:0;
    height:0;
    border-left:30px solid black;
    border-top:30px solid transparent;
    border-bottom:30px solid transparent;
    position: absolute;
    top: 50%;
    z-index: 10;
}

ul#fuel_types label {
    display: inline;
}

ul li ul {
    margin-left: 1.25em;
}

li {
    list-style-type: none;
}

li.l1 {
    margin-bottom: 3px;
}

#panel input[type=checkbox] {
    height: 14px;
    margin-left: 7px;
    margin-bottom: 7px;
}

#spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
}

/* Map */

#map {
    //width: 100%;
    height: 100%;
    //float: left;
    //position: relative;
}

#map div {
    line-height: normal;
}

.plant-name {
    font-weight: bold;
}

/* Responsive */

@media (max-width: 767px) {

    header #title {
        text-align: center;
    }
    
    header #enipedia-attribution {
        padding-top: 7px;
    }
}

@media (max-width: 480px) {
    html {
        -webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
    }
    
    header h1 {
        font-size: 30px;
    }
    
    #open-panel {
        position: fixed;
        top: 50%;
    }
}