{% extends 'base.html' %}

{% block content %}
<div class="container">
   {% include 'admin/admin-subheader.html' %}
   <h2>{{title}}</h2>
   <br>
	<span id="addRow" class="btn btn-success">Add row</span>
	<span id="removeRow" class="btn btn-success">Remove row</span>
	<span id="required-explanation">* = Required Field</span>
   <form action="" method="post" id="subtype-input-form" name="subtype-input">
   {{form.hidden_tag()}}
      <table id="subtype-input" class="table-condensed">
      	<thead>
				<tr>
					{% for field in form.subtype[0] %}
						{% if not loop.first %}
							<td>{{ field.label }}</td>
						{% endif %}
					{% endfor %}
				</tr>
         </thead>
         <tbody>
            {% for subtype in form.subtype %}
               <tr>
                  {% for field in subtype %}
                     {% if loop.first %}
                        {{ field }}
                        {% for error in subtype.errors[field.short_name] %}
                           {{ error }}
                        {% endfor %}
                     {% else %}
                        <td>
                           {{ field }}
                           {% for error in subtype.errors[field.short_name] %}
                              <span style="color: red;">{{ error }}</span>
                           {% endfor %}
                        </td>
                     {% endif %}
                  {% endfor %}
               </tr>
            {% endfor %}
			</tbody>
   	</table>
		{{ form.submit }}
	   </form>
		<span id="successmessage" class="{{messageclass}}">{{message}}</span>
	<hr>
</div>
{% endblock %}