<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}} - Energy map</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/foundation-selected.css">
        <link rel="stylesheet" href="/static/css/lib/leaflet.css">
        <link rel="stylesheet/less" href="/static/css/main.less">
        <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Source+Sans+Pro'>
        <script src="/static/js/less.js"></script>
        <script src="/static/js/lib/leaflet-src.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.js"></script>
        <script src="//maps.google.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-36058075-1']);
          _gaq.push(['_setDomainName', 'willbeaufoy.net']);
          _gaq.push(['_trackPageview']);

          (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
    </script>
</head>
<body>
    {% include 'header.html' %}
    {% block content %}{% endblock %}
    <script src="/static/js/main.js"></script>
    {% if title == 'Home' %}
        <script type="text/javascript" src="/static/js/map.js"></script>
        <!--<script type="text/javascript" src="/static/js/lib/d3.v3/d3.v3.js"></script>
        <script type="text/javascript" src="/static/js/charts.js"></script>-->
    {% endif %}
    <script src="/static/js/admin.js"></script>
</body>
</html>