<header>   
    <div class="row-fluid container">
        <span class="span8">
            <h1>World power plants</h1>
            <!-- 
<h2>Continents</h2>
            <select id = "continents" class="plants"></select>
            <h2>Countries</h2>
            <select id = "countries"  class="plants"></select>
 -->
        </span>
        <span class="span3 text-right">
            <div id="select-location" class="">
                <form id='select-location'>
                    <input id='select-location-input' type='text' placeholder="Move map to location">
                    <button id='select-location-submit' type='submit' class="btn btn-inverse btn-large"><i class="icon-large icon-white icon-search"></i></button>
                </form>
            </div>
        </span>
        <span class="span1 text-right">
            Data from <a href="http://enipedia.tudelft.nl/wiki/Main_Page">Enipedia</a>
        </span>
    </div>
</header>