{% extends 'base.html' %}
{% block content %}
<header>
    <div class="row-fluid container">
        <span id="title" class="span6">
            <h1>World power plants</h1>
            <!-- 
<h2>Continents</h2>
            <select id = "continents" class="plants"></select>
            <h2>Countries</h2>
            <select id = "countries"  class="plants"></select>
 -->
        </span>
        <span id="select-location-wrapper" class="span4 text-right">
            <div id="select-location" class="">
                <form id='select-location'>
                    <input id='select-location-input' type='text' placeholder="Move map to location">
                    <button id='select-location-submit' type='submit' class="btn btn-inverse"><i class="icon-large icon-white icon-search"></i></button>
                </form>
            </div>
        </span>
        <span id="enipedia-attribution" class="span2 text-right">
            <p>&bullet; All data from <a href="http://enipedia.tudelft.nl/wiki/Main_Page">Enipedia</a></p>
            <p>&bullet; <a href="http://energy.willbeaufoy.net">Other energy resources</a></p>
        </span>
    </div>
</header>
<div id = "main">
    <div id="panel">
        <div id = "panel-container">
            <h2>Continents</h2>
            <select id = "continents" class="plants"></select>
            <h2>Countries</h2>
            <select id = "countries"  class="plants"></select>
            <div id="refresh" class="btn btn-inverse">Refresh map</div><p style="color: #777; margin-bottom: 1em;">* Note large data sets can take a while to load</p>
            <label>Show plants' size relative to capacity in MW (excludes all plants with no capacity data)<input type="checkbox" id="toggle-relative-size"></label>
            <div id="toggle-l3" class="btn btn-info">Show subtypes</div>
            <ul id="fuel_types">
                <li><label>All<input type="checkbox" id="all" class="broad" checked="true"></label>
                    <ul id="all" class="fuel_types">
                        <li id="coal" class="l1"><label class="l2"><img src="static/img/markers/Coal.png">Coal<input type="checkbox" id="coal" class="lower l2 broad" checked="true"></label><ul class="l3 hide"></ul></li>
                        <li id="gas" class="l1"><label class="l2"><img src="static/img/markers/Gas.png">Gas<input type="checkbox" id="gas" class="lower l2 broad" checked="true"></label><ul class="l3 hide"></ul></li>
                        <li id="oil" class="l1"><label class="l2"><img src="static/img/markers/Oil.png">Oil<input type="checkbox" id="oil" class="lower l2 broad" checked="true"></label><ul class="l3 hide"></ul></li>
                        <li id="other-fossil" class="l1"><label class="l2"><img src="static/img/markers/Other-fossil.png">Other fossil<input type="checkbox" id="other-fossil" class="lower l2 broad" checked="true"></label><ul class="l3 hide"></ul></li>
                        <li id="nuclear" class="l1"><label class="l2"><img src="static/img/markers/Nuclear.png">Nuclear<input type="checkbox" id="nuclear" class="lower l2 broad" checked="true"></label><ul class="l3 hide"></ul></li>
                        <li id="geothermal" class="l1"><label class="l2"><img src="static/img/markers/Geothermal.png">Geothermal<input type="checkbox" id="geothermal" class="lower l2 broad" checked="true"></label><ul class="l3 hide"></ul></li>
                        <li id="hydro" class="l1"><label class="l2"><img src="static/img/markers/Hydro.png">Hydro<input type="checkbox" id="hydro" class="lower l2 broad" checked="true"></label><ul class="l3 hide"></ul></li>
                        <li id="wind" class="l1"><label class="l2"><img src="static/img/markers/Wind.png">Wind<input type="checkbox" id="wind" class="lower l2 broad" checked="true"></label><ul class="l3 hide"></ul></li>
                        <li id="solar" class="l1"><label class="l2"><img src="static/img/markers/Solar.png">Solar<input type="checkbox" id="solar" class="lower l2 broad" checked="true"></label><ul class="l3 hide"></ul></li>
                        <li id="other-renewable" class="l1"><label class="l2"><img src="static/img/markers/Other-renewable.png">Other renewable<input type="checkbox" id="other-renewable" class="lower l2 broad" checked="true"></label><ul class="l3 hide"></ul></li>
                        <li id="biomass" class="l1"><label class="l2"><img src="static/img/markers/Biomass.png">Biomass<input type="checkbox" id="biomass" class="lower l2 broad" checked="true"></label><ul class="l3 hide"></ul></li>
                        <li id="waste" class="l1"><label class="l2"><img src="static/img/markers/Waste.png">Waste<input type="checkbox" id="waste" class="lower l2 broad" checked="true"></label><ul class="l3 hide"></ul></li>
                        <li id="other" class="l1"><label class="l2"><img src="static/img/markers/Other-renewable.png">Other<input type="checkbox" id="other" class="lower l2 broad" checked="true"></label><ul class="l3 hide"></ul></li>
                        <li id="unknown" class="l1"><label class="l2"><img src="static/img/markers/Unknown.png">Unknown<input type="checkbox" id="unknown" class="lower l2 broad" checked="true"></label><ul class="l3 hide"></ul></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div title="Hide panel" id="close-panel-container">
            <img id="close-panel" src="static/img/close-panel.png">
        </div>
    </div>
    <img id="open-panel" src="static/img/open-panel.png">
    <div id="map" class="map_canvas"></div>
    <div id="spinner-container"></div>
    <div style="border-top: 1px solid #333" class="clearfix"></div>
</div>

{% endblock %}
